@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-sm {
  @apply px-3 py-1;
}

.btn-md {
  @apply px-5 py-2;
}

.btn-lg {
  @apply px-10 py-4;
}

.btn-primary {
  @apply bg-gradient-to-r from-primary to-secondary font-bold hover:animate-pulse;
}

.btn-gradient {
  @apply bg-gradient-to-l from-yellow-400 via-pink-500 to-purple-600 hover:from-yellow-400/70 hover:via-pink-500/70 hover:to-purple-600/70 hover:animate-pulse uppercase text-sm font-bold;
}

.btn-blue {
  @apply bg-blue-500 hover:bg-blue-500/85 text-white flex items-center justify-center;
}

.btn-green {
  @apply bg-green-500 hover:bg-green-500/85 text-white flex items-center justify-center;
}

.btn-green-outline {
  @apply box-border border border-green-500 bg-white/80 hover:bg-black/10 text-green-500 flex items-center justify-center;
}

.btn-green-drop {
  @apply bg-green-600 hover:bg-green-600/85 text-white flex items-center justify-center;
}

.btn-red {
  @apply bg-red-500 hover:bg-red-500/85 text-white flex items-center justify-center;
}

.btn-white {
  @apply text-black bg-white hover:bg-gray-300 border border-black/30 flex items-center justify-center;
}

.btn-warning {
  @apply bg-yellow-500 hover:bg-yellow-500/85 text-white flex items-center justify-center;
}

.btn-info {
  @apply bg-gray-500 hover:bg-gray-500/85 text-white flex items-center justify-center;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox .checkbox-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #fff;
}

.custom-checkbox input:checked + .checkbox-box {
  background-color: #1570ef;
}

/* Add checkmark icon */
.custom-checkbox .checkbox-box::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.custom-checkbox input:checked + .checkbox-box::after {
  opacity: 1;
}

.mini-scroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 3px;
}

.mini-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 3px;
}

.mini-scroll::-webkit-scrollbar-thumb {
  background-color: #9b9b9b6b;
  border: 1px solid transparent;
  background-clip: content-box;
  border-radius: 6px;
}

.mini-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #c0c0c0;
}

.mini-scroll-sticker::-webkit-scrollbar {
  width: 8px;
  border-radius: 3px;
}
/* test */
.mini-scrolls::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}

.mini-scrolls::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 3px;
}

.mini-scrolls::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  border: 1px solid transparent;
  background-clip: content-box;
  border-radius: 6px;
}

.mini-scrolls::-webkit-scrollbar-thumb:hover {
  background-color: #c0c0c0;
}

.mini-scrolls-sticker::-webkit-scrollbar {
  width: 8px;
  border-radius: 3px;
}

/* .multiselect__tag {
  color: rgb(207, 0, 0);
  background-color: rgb(0, 0, 0);
}

.multiselect__tag:hover {
  background-color: yellow;
}

.multiselect__option--disabled {
  background: purple;
  color: red;
  font-style: italic;
}

.multiselect__option--highlight {
  background-color: red;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  height: 1rem;
}

.multiselect__content {
  background: rgb(255, 255, 255);
  color: #444;
  font-size: 0.9rem;
}

.multiselect__single {
  height: 0.8rem;
  font-size: 01rem;
  color: #444;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 0.25rem 1.625rem 0.25rem 0.625rem;

  margin-right: 0.625rem;

  line-height: 1;

  margin-bottom: 0.5rem;
} */
